<div class="featured_section_w3l">
    <div class="container">
        <h3 class="tittle">DERNIERES ANNONCES AJOUTEES</h3>
        <div class="inner_tabs">
            <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs" role="tablist">
                    {# <li role="presentation" class="active"><a href="#expeditions" id="expeditions-tab" role="tab" data-toggle="tab" aria-controls="expeditions" aria-expanded="true">UpComing cars</a></li>
                     <li role="presentation"><a href="#tours" role="tab" id="tours-tab" data-toggle="tab" aria-controls="tours">Popular</a></li>
                     <li role="presentation"><a href="#tree" role="tab" id="tree-tab" data-toggle="tab" aria-controls="tree">Just Launched</a></li>#}
                </ul>
                <div id="myTabContent" class="tab-content">
                    <!--//Contenu derniere annonces -->
                    <!-- /slider1 -->
                    <div class="slider1">
                        <div class="arrival-grids">
                            <ul id="flexiselDemo1">
                                <li>
                                    <a href="#"><img src="{{ asset('images/1.jpg') }}" alt=""/>
                                        <div class="caption">
                                            <h3><a href="#">Modele</a></h3>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{ asset('images/2.jpg') }}" alt=""/>
                                        <div class="caption">
                                            <h3><a href="#">Modele</a></h3>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{ asset('images/3.jpg') }}" alt=""/>
                                        <div class="caption">
                                            <h3><a href="#">Modele</a></h3>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{ asset('images/4.jpg') }}" alt=""/>
                                        <div class="caption">
                                            <h3><a href="#">Modele</a></h3>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{ asset('images/7.jpg') }}" alt=""/>
                                        <div class="caption">
                                            <h3><a href="#">Modele</a></h3>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#"><img src="{{ asset('images/8.jpg') }}" alt=""/>
                                        <div class="caption">
                                            <h3><a href="#">Modele</a></h3>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- //slider -->
                </div>
            </div>
        </div>
    </div>
</div>