
{% trans_default_domain 'FOSUserBundle' %}

{% block stylesheets %}

{% endblock %}

{% block fos_user_content %}
    <div class="container" id="login_container">
        {% if error %}
            <div class="col-md-offset-4 col-md-4" id="error_login">
                {{ error.messageKey|trans(error.messageData, 'security') }}
            </div>
        {% endif %}
        <div class="col-md-offset-4 col-md-4" id="form_box_login">
            <div class="col-md-offset-3 col-md-3">
                <h3>Connexion</h3>
            </div>
            <div class="login-inner">
                <div class="login-top">
                    <form action="{{ path("fos_user_security_check") }}" method="post">

                        {% if csrf_token %}
                            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        {% endif %}
                        <label for="username">{{ 'security.login.username'|trans }}</label>
                        <input type="text" placeholder="Nom" id="username" name="_username" value="{{ last_username }}" required="required"/>

                        <label for="password">{{ 'security.login.password'|trans }}</label>
                        <input type="password" placeholder="Mot de passe" id="password" name="_password" required="required" />

                        <input type="checkbox" id="brand" value="">
                        <label for="brand"><span></span> Se souvenir de moi</label>

                    <div class="login-bottom">
                        <ul>
                            <li>
                                <a href="{{ path('fos_user_resetting_request') }}">Mot de passe oublié?</a>
                            </li>
                            <li>
                                <input type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                    </form>
                </div>
                {% for owner in hwi_oauth_resource_owners() %}
                    <div class="social-icons">
                        <ul>
                            {% if owner == 'facebook' %}
                                <li><a href="{{ hwi_oauth_login_url(owner) }}"><span class="icons"></span><span class="text">{{ owner | trans({}, 'HWIOAuthBundle') }}</span></a></li>
                            {% else %}
                                <li class="ggp"><a href="{{ hwi_oauth_login_url(owner) }}"><span class="icons"></span><span class="text">Google+</span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                {% endfor %}
            </div>
    </div>
{% endblock fos_user_content%}

{% block javascripts %}
{% endblock %}




